@tailwind base;
@tailwind components;
@tailwind utilities;

.css-bg {
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,98,1) 0%, rgba(4,105,125,1) 100%);
}


.isAccount, .isPersonal {
  transition: all;
  color: rgb(182, 25, 182);
  border-bottom: 3px solid  rgb(182, 25, 182);;
  
}